[submodule "HDLC"]
	path = HDLC
	url = https://github.com/spierepf/HDLC.git
	branch = master
[submodule "pt"]
	path = pt
	url = https://github.com/spierepf/pt.git
	branch = master
[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "HDLC_test"]
	path = HDLC_test
	url = https://github.com/spierepf/HDLC_test.git
[submodule "fadecandy"]
	path = fadecandy
	url = https://github.com/scanlime/fadecandy.git
[submodule "mpf"]
	path = mpf
	url = https://github.com/missionpinball/mpf.git
